@page "/gender/create"

@inject IBaseService baseService
@inject IShowMessage showMessage
@inject NavigationManager navigationManager

<section class="after-head d-flex section-text-white position-relative">
    <div class="d-background" data-image-src="http://via.placeholder.com/1920x1080" data-parallax="scroll"></div>
    <div class="d-background bg-black-80"></div>
    <div class="top-block top-inner container">
        <div class="top-block-content">
            <h1 class="section-title">New gender</h1>
            <div class="page-breadcrumbs">
                <a class="content-link" href="#">Home</a>
                <span class="text-theme mx-2"><i class="fas fa-chevron-right"></i></span>
                <span>Add new gender</span>
            </div>
        </div>
    </div>
</section>

<GenderForm OnValidSubmit="Create" Title="Add new" Gender="Gender" />

@code {
    private GenderViewModel Gender = new GenderViewModel();

    private async Task Create()
    {
        var httpResponse = await baseService.PostAsync("http://localhost:5000/api/v1/genders", Gender);

        if (httpResponse.Error)
        {
            var body = await httpResponse.GetBody();
            await showMessage.ShowErrorMessage(body);
        }
        else
        {
            navigationManager.NavigateTo("gender");
        }
    }
}
