@page "/gender/create"

@inject IBaseService baseService
@inject IShowMessage showMessage
@inject NavigationManager navigationManager

<h3>New gender</h3>

<GenderForm OnValidSubmit="Create" Gender="Gender" />

@code {
    private GenderViewModel Gender = new GenderViewModel();

    private async Task Create()
    {
        var httpResponse = await baseService.PostAsync("http://localhost:5000/api/v1/genders", Gender);

        if (httpResponse.Error)
        {
            var body = await httpResponse.GetBody();
            await showMessage.ShowErrorMessage(body);
        }
        else
        {
            navigationManager.NavigateTo("gender");
        }
    }
}
