@page "/gender"

@inject IBaseService baseService
@inject IShowMessage showMessage

<!-- Page Title Header Ends-->
<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="d-flex">
                            <div class="wrapper">
                                <h3 class="mb-0 font-weight-semibold">Genders</h3>
                                <h5 class="mb-0 font-weight-medium text-primary">Gender management module</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a class="btn btn-info btn-fw float-right" href="/gender/create">
                            <i class="mdi mdi-plus-box"></i>
                            Add new gender
                        </a>
                    </div>                
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="text-transform: none">Mostrando 10 de un total de 30 registros</h4>
                @* <p class="card-description"> Add class <code>.table-striped</code> </p> *@
                    <GenericList Records="Genders">
                        <CompleteFound>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var gender in Genders)
                                    {
                                        <tr>
                                            <td>
                                                <a class="btn btn-icons btn-inverse-warning" href="/gender/update/@gender.Id">
                                                    <i class="mdi mdi-pencil"></i>
                                                </a>
                                                <button type="button" @onclick="@(() => DeleteGender(gender))" class="btn btn-icons btn-inverse-danger">
                                                    <i class="mdi mdi-delete"></i>
                                                </button>
                                            </td>
                                            <td>@gender.Name</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </CompleteFound>
                    </GenericList>
            </div>
        </div>
    </div>
</div>

@code {
    public List<GenderViewModel> Genders { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await LoadGenders();
    }

    private async Task LoadGenders()
    {
        var httpResponse = await baseService.GetAsync<List<GenderViewModel>>("http://localhost:5000/api/v1/genders/");
        Genders = httpResponse.Response;
    }

    private async Task DeleteGender(GenderViewModel gender)
    {
        var httpResponse = await baseService.DeleteAsync($"http://localhost:5000/api/v1/genders/{gender.Id}");
        if (httpResponse.Error)
        {
           await showMessage.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            await LoadGenders();
        }
    }
}
