@using System.Linq.Expressions

@inherits InputTextArea

@typeparam TValue

<div class="col-6">
    <label>@Label</label>
    <div class="input-view-flat input-group">
        <InputTextArea @bind-Value="CurrentValue" class="form-control" style="height: 22em;" />
        <ValidationMessage For="For" />
    </div>
</div>
<div class="col-6">
    <label>@Label (preview):</label>
    <div class="input-view-flat input-group">
        <ShowMarkdown ContentMarkdown="@CurrentValue"></ShowMarkdown>
    </div>
</div>

@code {
    [Parameter] public Expression<Func<TValue>> For { get; set; }
    [Parameter] public string Label { get; set; }
}
