@* <div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">movieWeb</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div> *@

<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
    <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
        <div class="profile-image">
            <img class="img-xs rounded-circle" src="images/faces/face8.jpg" alt="profile image">
            <div class="dot-indicator bg-success"></div>
        </div>
        <div class="text-wrapper">
            <p class="profile-name">User Name</p>
            <p class="designation">User role</p>
        </div>
        </a>
    </li>
    <li class="nav-item nav-category">Main Menu</li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            <i class="menu-icon typcn typcn-document-text"></i>
            <span class="menu-title">Dashboard</span>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" data-toggle="collapse" aria-expanded="false" aria-controls="ui-basic" href="movie">
                <i class="menu-icon typcn typcn-coffee"></i>
            <span class="menu-title">Movies</span>
        <i class="menu-arrow"></i>
        </NavLink>
        <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/typography.html">Typography</a>
            </li>
        </ul>
        </div>
    </li>
    <li class="nav-item">
            <NavLink class="nav-link" href="person">
            <i class="menu-icon typcn typcn-shopping-bag"></i>
            <span class="menu-title">People</span>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="gender">
            <i class="menu-icon typcn typcn-th-large-outline"></i>
        <span class="menu-title">Genders</span>
    </NavLink>
    </li>
    </ul>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
